<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.svg" width="110" height="auto" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active mr-4" href="#">Repositorios</a>
        <a class="nav-item nav-link mr-4" href="#">Proyectos</a>
        <a class="nav-item nav-link mr-4" href="#">Seguidores</a>
        <a class="nav-item nav-link mr-4" href="#">Siguiendo</a>
      </div>
      <div class="media text-white d-flex justify-content-end">
        <img class="mx-3 rounded-circle" src="assets/img/blank-profile.png" alt="" width="40" height="40">
        <div class="media-body">
          <h6 class="mt-2">Arturo Castañon</h6>
        </div>
      </div>
    </div>
  </div>
</nav>