<div class="my-3 mx-2">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12">
      <div class="">
        <h3 class="side-heading my-4 text-center">Repositorios</h3>
        <div class="list-group lidt-group-flush">
          <li class="list-group-item list-group-item-action text-center my-4 font-weight-bolder">
            Tipo
          </li>
          <div class="form-group form-check ml-4">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">HTML</label>
          </div>
          <div class="form-group form-check ml-4">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">JavaScript</label>
          </div>
          <li class="list-group-item list-group-item-action text-center my-4 font-weight-bolder">
            Acceso
          </li>
          <div class="form-group form-check ml-4">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Público</label>
          </div>
          <div class="form-group form-check ml-4">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Privado</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-10 col-sm-12">

      <div class="form-inline justify-content-around">
        <button class="side-heading my-4 ml-4 btn btn-outline-info">Nuevo Repositorio</button>
        <div class="input-group">
          <input type="text" class="form-control" #user placeholder="Nombre de usuario">
          <div class="input-group-prepend">
            <button class="btn btn-info" (click)="searchUserRepos(user)">Buscar</button>
          </div>
        </div>
      </div>

      <div class="row my-4 mx-4">
        <div class="col-md-4 col-lg-4 col-sm-12 mb-4" *ngFor="let item of reposRes">
          <div class="card mb-3 text-center shadow">
            <div class="card-body">
              <img [src]="item.owner.avatar_url" class="mb-3" alt="perfil" width="75" height="75">
              <h5 class="card-title">{{item.name}}</h5>
              <span class="badge badge-primary my-2" 
                [ngClass]="{'badge-danger': item.language === 'HTML',
                            'badge-warning': item.language === 'JavaScript',
                            'badge-success': item.language === 'Python'
                           }">
                {{item.language}}
              </span>
              <p class="card-text">{{item.description}}</p>
              <a [href]="item.html_url" target="blank" class="btn btn-block btn-info">Ver Repositorio</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>