/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 0;
}
.pages-space {
    top: 0px;
    left: 240px;
    height: 100%;
    padding-top: 19px;
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 240px);
}